body {
  background-color: #00274C;
}

.team-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}


.team-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card :hover{
  cursor: pointer;
}

.team-info {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color:#00274C;
}


.view-team-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #00274C;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}


.arrow-icon-down {
  /* Existing styles */
  position: absolute;
  top: 50%;
  right: 25px; /* Adjust the distance from the right */
  transform: translateY(-50%);
}


.team-info img {
  width: 50px;
  height: 35px;
  margin-right: 10px;
}

.team-name {
  font-size: 1.2em;
  font-weight: bold;
  display: grid;
  position: absolute;
  left:50%;
  top:50%;
  color: black;
  //margin:auto;
  transform: translate(-50%, -50%);
}


.team-players {
  margin-top: 10px;
  text-align: left;
}

.player-info {
  display: flex;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
}

.team-card.expanded .team-players {
  display: block;
}

.team-card:not(.expanded) .team-players {
  display: none;
}

@media screen and (max-width: 768px) {
  .team-card {
    width: 90%;
  }
}
